<div class="home-page-wrapper">
  <header class="home-page-wrapper__header">
      <img class="home-page-wrapper__header__site-logo" src="../assets/images/rocket-central-logo.png" alt="rocket-central-logo">
  </header>
  <div class="home-page-wrapper__wrapper">
    <main>
      <article>
        <div class="home-page-wrapper__content">
          <router-outlet></router-outlet>
        </div>
      </article>
    </main>
    <footer class="home-page-wrapper__footer">
      <img class="home-page-wrapper__footer__logo" src="../assets/images/rocket-central-logo-white.png" alt="rocket-central-logo">
    </footer>
  </div>
</div>
